/* Code File(Amnpardaz Software Co. Copyright 2025 - All Right Reserved)*/
/* Release Ferdos.WebAppDesk 4.2.0.0*/

body {
  --mainFont: Tahoma, sans-serif;
  font-family: var(--mainFont);
}

.btnUp {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 0px 0px;
  margin: -22px -34px -1px 1px;
  width: 27px;
  height: 15px;
  display: inline-grid;
  align-items: center;
  vertical-align: middle;
}

.btnDown {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 0px 0px;
  margin: 15px 2px -1px 7px;
  width: 27px;
  height: 15px;
  display: inline-grid;
  align-items: center;
  vertical-align: middle;
}

.btnDiv {
  direction: rtl;
  margin-left: 10px;
}

.btn-success {
  color: #333333 !important;
  border-color: #f7f7f7 !important;
  text-shadow: none !important;
  box-shadow: none !important;
  background-color: #f7f7f7 !important;
  background-image: linear-gradient(
    to bottom,
    #f7f7f7 0%,
    #f7f7f7 100%
  ) !important;
}

.btn-danger {
  color: #333333 !important;
  border-color: transparent !important;
  text-shadow: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    transparent 100%
  ) !important;
}

.btnDeleteDiv {
  /*width: auto;
    float: right;
    direction: rtl;
    display: inline-grid;
    padding: 0px 0px 0px 37px;*/
  width: auto;
  position: absolute;
  right: 0px;
}

.btnDelete {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  align-items: center;
  vertical-align: middle;
}

.divStrQuery {
  border-style: double;
  margin: 20px;
}

.divReportFilterQuery {
  border-style: double;
  margin: 20px;
}

.divStrJson {
  border-style: double;
  margin: 20px;
}

.divCalendar {
  position: relative;
  display: inline-flex !important;
}

.dropdown-toggle {
  /* direction: ltr !important; */
  direction: rtl !important;
  font-size: 12px !important;
}

.divRow {
  direction: rtl;
}

select,
.dropdown-menu {
  font-size: 12px !important;
}

.divHome {
  direction: ltr;
  padding: 0px 20px 50px 15px !important;
  border-bottom: solid 1px #e6e9ed;
}

.fa-chevron-left {
  transform: rotate(180deg) !important;
}

.form-inline {
  border-color: white !important;
}

.glyphicon-chevron-up {
  color: #99a5b4;
  font-size: 10px;
}

.glyphicon-chevron-down {
  font-size: 10px;
  color: #99a5b4;
}

.glyphicon-remove {
  align-items: center;
  vertical-align: middle;
  margin: 0px 5px;
}

.glyphiconCalendar {
  position: absolute;
  right: 0px;
  padding: 5px;
  cursor: pointer;
}

.glyphicon-plus,
.glyphicon-plus-sign {
  margin: 0px 5px;
}

.groupsDivContent {
  background-color: white;
}

.groupsRowContent {
  border-color: transparent;
  margin: 20px 26px 20px 0px !important;
  padding-top: 3px !important;
}

.groupsLabelChk {
  direction: rtl !important;
  padding: 5px 13px;
  font-weight: normal;
}

.groupsChk {
  margin: 0px 20px 0px 25px !important;
  width: 18px;
  height: 18px;
  background-color: white;
  vertical-align: middle;
  outline: 2px solid #40c4ff !important;
  cursor: pointer;
}

.groupsChk:checked {
  background-color: #0091ea;
}

.schedulerChk {
  /* margin: 0px 45px 0px 0px !important; */
  width: 18px;
  height: 18px;
  background-color: white;
  vertical-align: middle;
  outline: 2px solid #40c4ff !important;
  cursor: pointer;
}

.schedulerChk:checked {
  background-color: #0091ea;
}

.schedulerLabelChk {
  direction: ltr !important;
  padding: 5px 5px;
  font-weight: normal;
  padding-right: 45px !important;
}

input [type="select"] {
  direction: ltr;
  font-size: 18px !important;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.inputTxtDiv {
  direction: ltr !important;
  float: right;
}

.nav > li.active > a {
  color: #307cba !important;
  font-weight: bold;
  background-color: transparent;
}

li.active a {
  color: #307cba;
  font-weight: bold;
  background-color: white;
}

.labelDiv {
  font-family: IRANSansWeb;
  background-color: #f7f7f7;
  padding-top: 10px !important;
  left: 166px;
  position: absolute;
  margin-right: 400px;
}

.label {
  font-size: 13px;
  font-weight: normal;
  color: var(--A1);
  width: 30%;
}

.popover-title {
  font-family: Tahoma, sans-serif;
}

.query-builder .rules-group-container {
  background-color: #f7f7f7 !important;
  border-color: #cccccc !important;
  border-color: #d2d6de !important;
  padding: 10px !important;
}

.group-actions {
  display: flex;
  align-items: center;
}

.query-builder .rules-list > *:first-child::before {
  top: -11px !important;
}

.query-builder .rule-value-container select,
.query-builder .rule-value-container input[type="text"],
.query-builder .rule-value-container input[type="number"] {
  width: 140px;
  display: inline-flex !important;
  flex-flow: row wrap;
  overflow: auto;
}

.rowContent {
  background-color: white;
  margin: 10px;
  padding: 5px;
  position: inherit;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.rolesDivContent {
  background-color: white;
}

.rule-container {
  display: flex;
  align-items: center;
}

.rule-header {
  position: absolute;
  right: 15px;
}

.rolesRowContent {
  border-color: transparent;
  margin: 20px 26px 20px 0px !important;
  padding-top: 3px !important;
}

.rolesLabelChk {
  direction: rtl !important;
  padding: 5px 13px;
  font-weight: normal;
}

.rolesChk {
  margin: 0px 20px 0px 25px !important;
  width: 18px;
  height: 18px;
  background-color: white;
  vertical-align: middle;
  outline: 2px solid #40c4ff !important;
  cursor: pointer;
}

.rolesChk:checked {
  background-color: #0091ea;
}

.selectCombo {
  display: inline-block;
  width: 140px;
  padding: auto;
  margin: 1px;
  direction: ltr;
}

.selectComboReportFilter {
  display: inline-flex;
  width: 140px !important;
  direction: ltr;
}

.selectComboReportOperator {
  display: inline-flex;
  width: 140px !important;
  direction: ltr;
}

.selectSqlCombo {
  display: inline-block;
  width: 140px;
  padding: auto;
  margin: 1px;
  visibility: hidden;
  direction: ltr;
}

.selectString {
  height: 34px;
  width: 140px;
}

[data-name="md-persiandatetimepicker"] table.table td {
  font-family: Tahoma, sans-serif;
}

.txtCalendar {
  padding: 10px 30px 10px 0px;
}

#builder-basic {
  border-color: white !important;
}

#btnAddRule {
  float: left;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  display: flex;
  align-items: center;
  margin-top: 2px;
  margin-bottom: -1px;
  margin-right: 11px;
  display: flex;
}

#btnReset {
  height: 34px;
  width: 54px;
  border: 1px solid #eea236;
  padding: 6px 12px 6px 12px;
  margin: 1px;
}

#btnSql {
  height: 34px;
  width: 62px;
  border: 1px solid #2e6da4;
  padding: 6px 12px 6px 12px;
  margin: 1px;
}

#builder-basic_group_0 {
  border-color: #f7f7f7 !important;
}

#container {
  position: relative;
  padding-top: 60px;
  border: 0;
}

#Reportcontent {
  float: revert;
  padding: 10px 10px 6px 10px;
  position: inherit;
  border-radius: 5px;
  padding-bottom: 1px !important;
  background-color: #f7f7f7;
  margin-top: 5px;
}

#dailyDiv {
  display: none;
}

#divContainer {
  direction: ltr;
  float: revert;
  padding: 0px 20px 50px 15px !important;
  border: 0;
}

#labelCommand {
  position: static;
  margin-left: 24px;
}

#labelSort {
  position: static;
  margin-left: 75px;
}

#labelFilter {
  position: static;
  margin-left: -73px;
}

.btn-group > .btn.active {
  z-index: 2;
}

.btn-xs.active {
  background-color: gray !important;
  border-color: #ffffff !important;
}

.btn:active,
.btn.active {
  background-image: none;
}

#monthlyDiv {
  display: none;
}

/*#rpt-wiz-3 {
    margin: 0px 0px 40px 0px !important;
}*/

#weeklyDiv {
  display: block;
}

#navbar-collapse {
  background: linear-gradient(250deg, rgba(255, 255, 255, 1) 0%, #f9f9f9 100%);
  border-radius: 2px;
  margin-bottom: 5px;
}
