/* Code File(Amnpardaz Software Co. Copyright 2025 - All Right Reserved)*/
/* Release Ferdos.WebAppDesk 4.2.0.0*/

html {
  /* scroll-behavior: smooth; */
  direction: rtl;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #fff;
  --mainFont: "IRANSansWeb", Tahoma, Verdana, sans-serif;
  --mainbackground: white;
  padding: 0px;
  overflow: hidden;
}

.textcontent {
  width: 200px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
  font: 14px var(--mainFont);
  resize: horizontal;
  max-width: 800px;
  min-width: 200px;
  overflow: auto;
  cursor: move;
  padding-top: 7px;
}

#Access_UI {
  margin-right: 0px;
  margin-top: 10px;
}

.rowContent {
  margin-bottom: 2rem;
}

.textarea {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  direction: ltr;
  text-align: left;
}

input[type="number"] {
  width: 80px;
  height: 25px;
  font: 14px var(--mainFont);
  margin: 10px 15px 10px 0px;
}

input[type="color"] {
  width: 100%;
  left: 20px;
  /* position: absolute; */
  margin-right: 30px;
}

br {
  margin: 20px;
}

.Textbox {
  position: absolute;
  font: 12px var(--mainFont);
  color: #000;
  margin-left: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.TextboxSeries {
  font: 12px var(--mainFont);
  color: #000;
  border-radius: 3px;
  border: 1px solid #ccc;
  left: 20px;
  text-align: center;
  height: 35px;
  width: 100%;
  margin-right: 30px;
}

.TextboxEditChart {
  font: 12px var(--mainFont);
  color: #000;
  border-radius: 2px;
  border: 1px solid #ccc;
  height: 35px;
  /* width: 200px; */
  /* float: right; */
  /* direction: ltr; */
  /* margin-right: 20px; */
  text-align: center;
}

.CommandTextBtn {
  height: 5px;
  left: 15px;
  background-color: transparent;
  border: 1px solid transparent;
  width: 5px;
}

#SeriesBtn {
  position: absolute;
  height: 34px;
  padding: 5px 0px 20px 0px;
  left: 1px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.divItems_ChartEdit {
  display: flex;
  align-items: center;
  margin: 5px 0px;
}

#contextMenu {
  -webkit-box-shadow: 0px 0px 2px 0px #d1d1d1;
  -moz-box-shadow: 0px 0px 2px 0px #d1d1d1;
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: #00000026;
  border-radius: 0px;
  background-color: whitesmoke;
}

#contextMenu li {
  padding: 8px;
  font-size: 13px;
  display: flex;
  align-items: center;
  margin: 0;
}

#contextMenu li:hover {
  background-color: #a9a9a945;
}

#contextMenu li span {
  margin: 0px 10px !important;
}

#contextMenu li img {
  width: 17px;
  height: 17px;
}

.selectBox {
  height: 35px;
  /* width: 200px;
  margin: 0px 0px 0px 10px; */
  font-size: inherit;
  border: 1px solid #ccc;
  background-color: #efefef;
  cursor: pointer;
  font: 12px var(--mainFont);
  color: #000;
  border-radius: 2px;
}

#commandText {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.lbl {
  font: 12px var(--mainFont);
  align-self: center;
  justify-self: right;
  margin-top: 5px;
}

.lblSeries {
  font: 14px var(--mainFont);
  margin-bottom: 10px;
  margin-left: 5px;
  direction: rtl;
  width: 75px;
}

/*.highcharts-container {
  margin-bottom: 45px;
}*/

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.fit-image {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

#ddSettings {
  overflow: auto;
  display: grid;
  grid-template: "a" 0px "c" 60px;
  grid-template-columns: 150px;
  align-items: center;
  justify-content: right;
  padding: 15px;
  border-radius: 2px;
}

.ToolsLbl {
  cursor: pointer;
  margin-right: 34px;
}

.vol {
  width: 0px;
  height: 0px;
}

.content-header {
  height: 47px !important;
}
.slider {
  position: relative;
  width: 110px;
  border: 1px solid transparent;
  top: -72px;
  right: 73px;
  transform: rotate(-90deg);
  background-color: transparent;
  height: 38px;
}

.lblSlider {
  position: relative;
  transform: rotate(90deg);
  left: 10px;
  top: 0px;
}

.dropdown {
  direction: rtl !important;
}

.form-group-body {
  height: 390px;
  margin-top: 10px;
  white-space: pre-line;
  text-align: center;
  padding: 0px 5px !important;
  min-height: 115px;
}

.nav nav-tabs navbar-right {
  float: right;
}

#div1 {
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 0px 10px !important;
  margin: 0px 0px 0px 5px !important;
}

#div2 {
  border-radius: 2px;
  border: 1px solid #ccc;
}

.containerside {
  color: black;
  direction: rtl;
  background-color: #ffffff;
}

.tabdiv {
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 0px;
}

.btnReset {
  margin-top: 10px;
  width: 80px;
  height: 34px;
  color: white;
  border-radius: 0px;
  border-color: #4cae4c;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  display: inline;
  border: 1px solid transparent;
  font-family: Tahoma;
  border-radius: 0px;
  float: right;
  color: #fff;
  background-color: #5cb85c;
}

.form-group-box {
  padding: 5px;
  /* padding-bottom: 15px; */
  border-bottom: solid 1px #e6e9ed; /*@MainColor-B4*/
  background-color: #fff;
  margin: 0px !important;
  padding: 0px !important;
}

.form-group-box .group-title {
  font-family: "IRANSansWeb";
  font-size: 1.05rem;
  color: #2a3f54;
}

.form-group-box .group-title small {
  font-size: 14px;
}

.form-control {
  border-color: #d2d6de !important;
}

.form-control:focus {
  border-color: #506495 !important; /*@MainColor-A1*/
}

.rowBtnGroup-span {
  font: 20px var(--mainFont);
  font-style: italic;
  border: 2px dashed #e3b535;
  color: #ccc;
  box-shadow: -5px 10px 5px hsl(0, 0%, 100%);
  display: none;
  border-radius: 5px;
  text-align: center;
}

.table th {
  text-align: center;
  font: 14px var(--mainFont);
  background-color: rgb(250, 250, 250);
  font-weight: 700 !important;
}

.table {
  direction: rtl;
  /* margin-top: 35px; */
  margin-bottom: 40px;
}

.table tbody {
  text-align: center;
  font: 14px var(--mainFont);
}

.span {
  height: 30px;
  margin-left: 5px;
  padding: 5px 0px 5px 40px;
  width: 80px;
}

#contentCommand {
  margin: auto;
  padding: 0px;
}

.btn_submint_exit {
  margin: 10px 0px 10px 5px;
  display: inline;
  float: right;
  min-width: 65px;
  border-radius: 5px;
}

.nav {
  padding-right: 10px !important;
}

.sideBarChild {
  width: 100%;
  font: 12px var(--mainFont);
  border: none;
  padding-right: 2px;
  overflow: auto;
  display: block;
}
#sideBar {
  min-height: 100% !important;
  border-right: none !important;
  border-left: 1px solid #d2d6de !important;
}
.main-content {
  top: 98px;
  bottom: 41px;
  overflow: auto;
  position: absolute;
  width: 100%;
  padding: 40px 250px 40px 20px;
  background-color: #f8f9fa;
}

#PanelId {
  overflow: auto;
  border: 1px solid #ccc;
  margin: 5px 5px 10px 5px;
  padding: 0px 10px 10px 10px;
}

::placeholder {
  font: 10px var(--mainFont);
  font-size: 12px;
}

#PanelPropId {
  overflow: auto;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px;
  height: 350px;
}

#page-content {
  background-color: var(--mainbackground);
  font: 1rem var(--mainFont);
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: auto;
}

#geFooter {
  position: absolute;
  background: #fff;
  border-top: 1px solid #c0c0c0;
  font: 13px Tahoma;
  color: #72afd2;
  direction: rtl;
  display: flex;
  align-items: center;
  left: 0px;
  right: 230px;
  bottom: 0px;
  height: 40px;
  padding-right: 10px;
}

button {
  font-family: var(--mainFont);
  font-size: 14px !important;
}

#divExit {
  width: 227px;
  height: 100px;
  background-color: #4363a7;
  position: absolute;
  top: 44px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 5px #ccc;
  text-align: right;
  color: #fff;
  float: left;
  z-index: 2;
  left: 0;
}

#divExit .btn {
  font-size: 11px;
  margin: 5px;
  height: 28px;
}

#chartModal {
  direction: rtl;
  /*margin-right: 350px;*/
}

#open_div span {
  font-size: 12px;
  direction: rtl;
  display: flex;
}

#divExit div {
  position: absolute;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  direction: rtl;
  bottom: 0px;
  width: inherit;
}

#divExit label {
  margin: 20px 5px;
}

.geTitle {
  display: block;
  color: #e7e7e7;
  font: 14px var(--mainFont);
  padding: 11px 10px 11px 15px;
  margin: 0px;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  border-left: 3px solid #34485c;
  cursor: pointer;
}

.geTitle:hover {
  background: #34485c;
  border-radius: 2px;
  font-weight: 600;
  border-left: 3px solid var(--A2) !important;
  cursor: pointer;
}

.geTitle img {
  height: 24px;
  width: 24px;
  opacity: inherit;
}

.pull-right {
  float: left !important;
}

.DataProcessElement {
  border-bottom: 1px solid #e5e5e5;
  padding: 6px;
  background-color: #ffffff;
  overflow: hidden;
  cursor: move;
}

.textcontent {
  width: 200px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
  font: 14px var(--mainFont);
  resize: horizontal;
  max-width: 800px;
  min-width: 200px;
  overflow: auto;
  cursor: move;
  padding-top: 7px;
}

.rowContent {
  margin-bottom: 2rem;
}

.lbl {
  font: 14px var(--mainFont);
  align-self: center;
  justify-self: right;
}

.PanelTxt {
  width: 90%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
  font-family: var(--mainFont);
  font-size: 14px;
}

#textarea {
  width: 90%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
}

#textlbl {
  width: 100%;
  height: 20px;
  text-align: right;
  border: 0px;
  border-radius: 0px;
  outline: 0;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(180, 194, 209);
  border-radius: 4px;
  width: 14%;
  margin-right: 10px;
}

input[type="number"] {
  width: 80px;
  height: 25px;
  max-height: 38px !important;
  font: 14px var(--mainFont);
  margin: 10px 15px 10px 0px;
}

input[type="text"]:hover {
  cursor: default !important;
}

input[type="checkbox"] {
  filter: hue-rotate(338deg) !important;
  margin: 0 !important;
  width: 18px;
  height: 18px;
  background-color: white;
  vertical-align: middle;
  outline: 2px solid #40c4ff;
  cursor: pointer;
}

#input-group-img {
  display: block;
  text-align: right;
}

.schedulerChk:checked {
  background-color: #0091ea;
}

#lblAfrerDrag {
  margin: 12px;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: white;
  border-radius: 2px;
}

#radioAfterDrag,
#checkAferDrag {
  margin: 12px 10px 0px 5px;
}

br {
  margin: 20px;
}

#hider {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 1600px;
  height: 2000px;
  margin-top: -800px;
  /*set to a negative number 1/2 of your height*/
  margin-left: -500px;
  /*set to a negative number 1/2 of your width*/
  /*
        z- index must be lower than pop up box
       */
  z-index: 99;
  background-color: Black;
  opacity: 0.6;
}

#popup_box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10em;
  height: 10em;
  margin-top: -5em;
  /*set to a negative number 1/2 of your height*/
  margin-left: -5em;
  /*set to a negative number 1/2 of your width*/
  border: 1px solid #ccc;
  border: 2px solid black;
  z-index: 100;
}

.dropdown-menu li {
  cursor: default;
}

.glyphiconPlus {
  position: absolute;
  top: 25%;
  right: 5px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

#SaveBtn {
  left: 50px;
  position: absolute;
  margin-top: 5px;
}

/*.main-sidebar {
  background-color: white;
  right: 0px !important;
  width: 230px;
  top: 50px;
  bottom: 0px;
  overflow: auto;
  background: #2a3f54;
}*/

#DataProcessChild,
#NewFieldChild {
  max-height: 400px;
  background-color: #ffffff;
}

#DataProcessChild :hover,
#NewFieldChild :hover {
  background-color: hsl(207, 44%, 95%);
  cursor: move;
}

.rowBtnGroup {
  display: flex;
  align-items: inherit;
  justify-content: left;
  margin: 5px;
  direction: ltr;
  width: 100%;
}

.form-group-box li {
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  position: relative;
}

.closable {
  position: absolute;
  right: -10px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 20px;
  opacity: 0.4;
  cursor: pointer;
}

.form-group {
  /*padding: 10px 10px 30px 10px;*/
  font: 14px var(--mainFont);
  position: relative;
  min-height: 85px;
  margin: 5px;
}

.ImgIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: none;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 2px;
  background-color: #fff;
}

li span {
  margin: 0px 6px;
}

.glyphicon {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0px !important;
  margin: 0px 5px;
}

.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(-90deg) !important;
  -ms-transform: rotate(-90deg) !important;
  transform: rotate(-90deg) !important;
}

#logo {
  float: right !important;
}

#logo:hover {
  background-color: var(--A1) !important;
}

.Del_FormGroup {
  justify-content: flex-end;
  left: 12px;
  /* float: left; */
  position: absolute;
  bottom: -9px;
}

/* .propLbl {
  font: 12px var(--mainFont);
  background-color: #fff;
  width: 100%;
  padding-right: 5px;
} */
.propDiv {
  height: 30px;
  padding-right: 5px;
}

.selectProp {
  width: 100%;
  font-size: 11px;
  border: 0px;
}

.fontSize {
  margin: 0px !important;
  height: 20px !important;
  font-size: 11px !important;
  width: 100% !important;
  outline: 0 !important;
  border: 0 !important;
}

.td1 {
  width: 40% !important;
  padding: 2px !important;
  height: 20px !important;
  text-align: right !important;
}

.td2 {
  padding: 2px !important;
}

#PropTable {
  margin-bottom: 0px;
}

#divImg {
  border: 1px solid #c0c0c0;
  background-repeat: no-repeat;
  background-size: 150ch 168ch;
  background-position: center center;
  box-shadow: 0px 5px 3px 1px #4040408c;
}

#mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

table {
  border-collapse: collapse;
  direction: rtl;
}

table,
td {
  width: auto;
  position: relative;
  cursor: move;
  border: 1px solid #000;
  padding: 5px;
  /* text-align: left; */
  /* font: bold 12px var(--mainFont) ; */
  text-align: center;
}

.DivTable {
  position: absolute;
  text-align: center;
  border: 1px solid #d3d3d3;
}

/* tr:first-child th {
  padding: 10px;
  cursor: move;
  z-index: 10;
} */

.BOXS {
  border: 1px dashed #ccc;
  border-radius: 1px;
  position: absolute;
  background-color: lightyellow;
  text-align: center;
  margin: 0px !important;
}

@font-face {
  font-family: BZarBd;
  src: url("/App_Base/Css/Fonts/B\ Zar\ Bold.woff") format("woff");
}

.textProp {
  width: 100% !important;
  height: 20px !important;
  font: 11px var(--mainFont) !important;
  margin: 0% !important;
  direction: ltr;
}

input[type="range"] {
  -webkit-appearance: none;
}

.swal-footer {
  direction: rtl;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
  margin-top: -5px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type="range"] {
  /* fix for FF unable to apply focus style bug  */
  /*required for proper track sizing in FF*/
  width: 100px;
}

input[type="range"]::-moz-range-track {
  width: 100px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}

/*hide the outline behind the border*/
input[type="range"]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type="range"]:focus::-moz-range-track {
  background: #ccc;
}

/* for ie */

input[type="range"]::-ms-track {
  width: 100px;
  height: 5px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

input[type="range"]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}

input[type="range"]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #888;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #ccc;
}

.PropBorder {
  background-color: #fffbf9;
  padding: 0px 10px 5px 0px;
}

.propTitleIcon {
  margin-right: -8px;
}

.propTitlePlus {
  font: 11px var(--mainFont);
  font-weight: bold;
  margin-right: 5px;
}

.swal-button {
  font: 14px var(--mainFont);
}

.checkbox {
  margin-top: 40px !important;
}

.NewRow {
  height: 100px;
  border: 3px dashed #e0e0e0;
  /* border-radius: 3px; */
  box-shadow: -5px 10px 5px rgb(218, 218, 206);
  text-align: center;
  font: italic 20px var(--mainFont);
  padding: 31px;
  background-color: #f9f9f9;
  margin: 10px;
  color: #c0c0c0;
}

.PasteElement {
  border-right: 1px dashed #d4c3eebd;
  height: 38px;
  text-align: center;
  font: italic 14px var(--mainFont);
  color: rgb(167, 167, 140);
  padding: 5px;
  box-shadow: -5px 10px 5px rgb(218, 218, 206);
  background: linear-gradient(90deg, #d4c3eebd 50%, transparent 50%),
    linear-gradient(90deg, #d4c3eebd 50%, transparent 50%),
    linear-gradient(0deg, #d4c3eebd 50%, transparent 50%),
    linear-gradient(0deg, #d4c3eebd 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 10px 1px, 10px 1px, 1px 10px;
  animation: border-dance 25s infinite linear;
  background-color: #f7f7f7;
}

@keyframes border-dance {
  0% {
    background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
  }

  100% {
    background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
  }
}

/* modal form css */
.modal {
  display: none;
  /* Hidden by default */
  /* Stay in place */
  z-index: 10000;
  /* Sit on top */
  padding-top: 110px;
  /* Location of the box */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.3);
  /* Black w/ opacity */
}

#content {
  background-color: #eeeeee !important;
  box-shadow: 0px 0px 2px 1px #d1d1d1;
}

#contentM {
  padding: 0px;
  margin: auto;
  display: flex;
}

/* Modal Content */
.modal-content {
  padding: 10px;
  background-color: #fff;
  position: relative;
  overflow: auto;
  border-radius: 2px;
  font-size: 16px;
  color: #000;
  font-style: normal;
  /* width: 25%; */
  background-color: #fff;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* .main-header :hover {
  background-color: #3a5ba0 !important;
} */

.radioLbl {
  font-size: 14px;
  font-weight: 700;
  padding: 7px 5px 3px 5px;
}

#open_btn_Div {
  padding: 10px;
  background-color: #cccccc14;
  direction: rtl;
  display: flex;
  justify-content: start;
}

.swal-text {
  text-align: right;
}

.CommandTextBtn .glyphicon .glyphicon-option-vertical:hover {
  background-color: transparent !important;
}

.head_activi {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, var(--A1) 100%);
  border-radius: 3px;
  margin: 5px 0px;
  direction: rtl;
  color: #ffffff;
  height: 36px;
  z-index: 10;
}
#headerMenuBar {
  display: flex !important;
  flex-direction: row;
  float: right;
  line-height: normal;
}

#headerMenuBar > li > a {
  padding: 13px !important;
}
/* #headerMenuBar :hover {
  background-color: #2e4b8a !important;
} */
.tab-content {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.AccessCheckbox {
  width: 15px !important;
  height: 15px !important;
  outline: 0px !important;
}

.rowDiv {
  display: flex;
  align-items: center;
  direction: ltr;
  justify-content: end;
}

.btn-danger,
.btn-info {
  display: flex;
  padding: initial;
  font: 14px var(--mainFont);
}

#btnAddTolist {
  margin-bottom: 15px;
  padding: 5px;
  width: 85px;
  height: 34px;
  display: flex;
  justify-content: center;
}

#btnAddTolistDiv,
#seriesModalDIv,
#Add_contentSeries,
#insertSeries,
#contentSeries {
  direction: rtl;
  display: flex;
  font-family: var(--mainFont);
}

.DisSeriesItem {
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#PlotType {
  width: 100%;
  margin: 0px;
  left: 20px;
  /* position: absolute; */
  direction: rtl;
  margin-right: 30px;
}

#select3Selectbox {
  width: 100%;
  margin: 0px 30px 0px 0px;
  left: 20px;
  /* position: absolute; */
  direction: rtl;
}

.dropdown-menu {
  text-align: right !important;
}

.querybtn {
  margin-bottom: 10px;
  padding: 5px;
  width: 75px;
  height: 34px;
  justify-content: right;
  align-items: center;
  background-color: rgb(0, 166, 90) !important;
  border-color: rgb(0, 141, 76) !important;
  color: rgb(255, 255, 255) !important;
  background-image: linear-gradient(
    rgb(0, 166, 90) 0%,
    rgb(0, 166, 90) 100%
  ) !important;
}
.querybtnprimary {
  margin: 0px 5px 10px 5px;
  padding: 5px;
  height: 34px;
  justify-content: right;
  align-items: center;
  color: rgb(255, 255, 255) !important;
  background-color: #3a5ba0;
  border-color: #367fa9;
}

.rowbtnchart {
  display: none;
  float: left;
  margin: -50px 0px 0px 20px !important;
}

li a {
  color: lightgray !important;
  padding: 13px;
}
li a:hover {
  color: #ffffff !important;
}

.btn-group > .btn.active {
  z-index: 2;
}

.active {
  opacity: 1;
}

#out {
  position: absolute;
  left: 0px;
}

#out a:hover {
  background-color: #ffd800 !important;
  color: #000 !important;
  cursor: pointer;
}
#out span:hover {
  background-color: #ffd800 !important;
}

.main-header > .navbar {
  margin-right: 230px !important;
  margin-left: 0px !important;
  direction: rtl;
}
.section {
  border: 1px solid transparent !important;
}

.input-group-addon {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: 40px;
  justify-content: center;
}

.nav > li.active > a {
  color: var(--A1) !important;
  font-weight: bold;
  background-color: white;
}

#AccesessBtn {
  padding: 5px 0px;
  display: flex;
  justify-content: flex-start;
}

#AccesessBtn .btn {
  margin: 2px;
  min-width: 70px;
}
.highcharts-title {
  font: 10px var(--mainFont);
}
.btn-primary {
  background-image: none;
}
.allowEdit{
  background-color: rgb(255 246 226);
  text-decoration: none !important;
}