/* Code File(Amnpardaz Software Co. Copyright 2023 - All Right Reserved)*/
/* Release Ferdos.WebAppDesk 3.6.0.0*/
/* Release Ferdos.BPMS*/

html {
  scroll-behavior: smooth;
}

#PanelId {
  overflow: auto;
  border: 1px solid #ccc;
  margin: 5px 5px 10px 5px;
  padding: 0px 10px 10px 10px;
}

::placeholder {
  font: 10px var(--mainFont);
}

#PanelPropId {
  overflow: auto;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px;
  height: 350px;
}

#page-content {
  background-color: var(--mainbackground);
  font: 1rem var(--mainFont);
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: auto;
}

#geFooter {
    position: absolute;
    background: #fff;
    border-top: 1px solid #c0c0c0;
    font: 13px Tahoma;
    color: #72afd2;
    direction: rtl;
    display: flex;
    align-items: center;
    left: 0px !important;
    right: 230px !important;
    bottom: 0px;
    height: 40px;
    padding-right: 10px;
}

    #geFooter .pull-right {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    #geFooter .pull-left {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

#versionLabel {
  justify-content: end;
}
#copyRightLabel {
  text-decoration: none;
}
#copy {
  position: absolute;
  right: 0px;
  direction: rtl;
}
#version{
  position: absolute;
  left: 0px;
  direction: ltr;
}
#divExit {
  width: 227px;
  height: 100px;
  background-color: #4363a7;
  position: relative;
  top: -2px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 5px #ccc;
  text-align: right;
  color: #fff;
  float: left;
  z-index: 2;
  /* Hossein */
  vertical-align: middle;
  line-height: 50px;
  font-family: "IRANSansWeb";
  font-size: 13px;
}
#divExit .btn {
  font-size: 11px;
  margin: 3px;
  height: 28px;
  /* Hossein */
  border-radius: 5px;
  color: #fff;
  border-style: solid;
  font-family: "IRANSansWeb";
  font-size: 12px;
}
#open_div span {
  font-size: 12px;
  direction: rtl;
  display: flex;
}
#divExit div {
  position: absolute;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  direction: rtl;
  bottom: 0px;
  width: inherit;
}
#divExit label {
  margin: 20px 5px;
}

.geTitle {
  display: flex;
  align-items: center;
  color: #e7e7e7;
  font: 14px var(--mainFont);
  padding: 11px 10px 11px 15px;
  margin: 0px;
  cursor: default;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  border-left: 3px solid #34485c;
  cursor: pointer;
}
.geTitle:hover {
  /* background: #34485c; */
  border-radius: 2px;
  font-weight: 600;
  border-left: 3px solid var(--A3) !important;
  cursor: default;
}
.geTitle img {
  height: 24px;
  width: 24px;
  opacity: inherit;
}
.pull-right {
  float: left !important;
  left: 17px;
}

.DataProcessElement {
  border-bottom: 1px solid #cccccc38;
  padding: 1px 6px;
  background-color: #ffffff;
  overflow: hidden;
  cursor: move;
}

.textcontent {
  width: 200px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
  font: 14px var(--mainFont);
  resize: horizontal;
  max-width: 800px;
  min-width: 200px;
  overflow: auto;
  cursor: move;
  padding-top: 7px;
}

.rowContent {
  margin-bottom: 2rem;
}

.lbl {
  font: 14px var(--mainFont);
  align-self: center;
  justify-self: right;
}

.PanelTxt {
  width: 90%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
  font-family: var(--mainFont);
  font-size: 14px;
}

#textarea {
  width: 90%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px;
}

.textlbl {
  width: 100%;
  height: 20px;
  text-align: right;
  border: 0px;
  border-radius: 0px;
  outline: 0;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(180, 194, 209);
  border-radius: 4px;
  width: 14%;
  margin-right: 10px;
}

input[type="number"] {
  width: 80px;
  height: 25px;
  max-height: 38px !important;
  font: 14px var(--mainFont);
  margin: 10px 15px 10px 0px;
  direction: rtl;
}

input[type="text"]:hover {
  cursor: default !important;
}

input[type="checkbox"] {
  filter: hue-rotate(338deg) !important;
  margin: 0 !important;
  width: 18px;
  height: 18px;
  background-color: white;
  vertical-align: middle;
  cursor: pointer;
}

#input-group-img {
  display: block;
  text-align: right;
}
.schedulerChk:checked {
  background-color: #0091ea;
}

input[type="text"] {
  height: 38px;
  max-height: 38px;
  direction: rtl;
  text-align: center;
}

input[type="color"] {
  cursor: pointer;
  height: 20px;
  width: 100%;
  border-radius: 0px;
  border: 0px;
}

#lblAfrerDrag {
  margin: 12px;
  border: 1px solid #ccc;
  padding: 5px;
  background-color: white;
  border-radius: 2px;
}

#radioAfterDrag,
#checkAferDrag {
  margin: 12px 10px 0px 5px;
}

br {
  margin: 20px;
}

#hider {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 1600px;
  height: 2000px;
  margin-top: -800px;
  /*set to a negative number 1/2 of your height*/
  margin-left: -500px;
  /*set to a negative number 1/2 of your width*/
  /*
        z- index must be lower than pop up box
       */
  z-index: 99;
  background-color: Black;
  opacity: 0.6;
}

#popup_box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10em;
  height: 10em;
  margin-top: -5em;
  /*set to a negative number 1/2 of your height*/
  margin-left: -5em;
  /*set to a negative number 1/2 of your width*/
  border: 1px solid #ccc;
  border: 2px solid black;
  z-index: 100;
}

.glyphiconPlus {
  position: absolute;
  top: 25%;
  right: 5px;
  display: inline-block;
  font-family: "Glyphicons Halflings";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

#SaveBtn {
  left: 50px;
  position: absolute;
  margin-top: 5px;
}

#headerBar{
  height: 50px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#headerMenuBar{
  margin: 0;
  
}
#headerMenuBar li a{
  padding: 15px;
}
    #headerMenuBar li a:hover {
        background-color: Var(--A1);
        color: #f6f4f5;
    }

#Save a {
  direction: rtl;
}

#Save a i {
  font-size: 16px !important;
  margin: 0px 0px;
}

#Import a {
  direction: rtl;
}
.main-sidebar {
  background-color: white;
  right: 0px !important;
  width: 230px;
  top: 50px;
  bottom: 0px;
  overflow: auto;
  background: #2a3f54;
}

.sideBarChild {
  width: 100%;
  font: 12px var(--mainFont);
  border: none;
  overflow: auto;
  display: block;
}

.main-content {
  top: 95px;
  bottom: 40px;
  overflow: auto;
  position: absolute;
  width: 100%;
  padding: 40px 250px 40px 20px;
  background-color: #f8f9fa;
}

#DataProcessChild,
#NewFieldChild {
  max-height: 400px;
  background-color: #ffffff;
}

#DataProcessChild :hover,
#NewFieldChild :hover {
  background-color: hsl(207, 44%, 95%);
  cursor: move;
}

.rowBtnGroup {
  display: flex;
  align-items: flex-end;
  justify-content: right;
}

.form-group-box li {
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  position: relative;
}

.closable {
  position: absolute;
  right: -10px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 20px;
  opacity: 0.4;
  cursor: pointer;
}

.form-group {
  padding: 10px 10px 30px 10px;
  font: 14px var(--mainFont);
  position: relative;
  min-height: 99px;
  margin: 5px;
}

.ImgIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: none;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 4px;
  background-color: white;
}
li span {
  margin: 0px 5px;
}
input::placeholder {
  color: red;
}
.glyphicon {
  display: flex;
  align-items: center;
  justify-content: center;
}

#headerMenuBar {
  direction: rtl;
}
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=12) !important;
  -webkit-transform: rotate(-90deg) !important;
  -ms-transform: rotate(-90deg) !important;
  transform: rotate(-90deg) !important;
}

#logo {
  float: right !important;
}
.Del_FormGroup {
  justify-content: flex-end;
  left: 12px;
  /* float: left; */
  position: absolute;
  bottom: -14px;
}

/* .propLbl {
  font: 12px var(--mainFont);
  background-color: #fff;
  width: 100%;
  padding-right: 5px;
} */
.propDiv {
  height: 30px;
  padding-right: 5px;
}

.selectProp {
  width: 100%;
  font-size: 11px;
  border: 0px;
}

.fontSize {
  margin: 0px !important;
  height: 20px !important;
  font-size: 11px !important;
  width: 100% !important;
  outline: 0 !important;
  border: 0 !important;
}

.td1 {
  width: 40% !important;
  padding: 2px !important;
  height: 20px !important;
  text-align: right !important;
}

.td2 {
  padding: 2px !important;
}

#PropTable {
  margin-bottom: 0px;
}

#divImg {
  border: 1px solid #c0c0c0;
  background-repeat: no-repeat;
  background-size: 150ch 168ch;
  background-position: center center;
  box-shadow: 0px 5px 3px 1px #4040408c;
}
#mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

table {
  border-collapse: collapse;
}

table,
td {
  width: auto;
  position: relative;
  padding: 5px;
  font: bold 12px var(--mainFont);
}

table th {
  position: relative;
  font-family: var(--mainFont);
}

.DivTable {
  position: absolute;
  text-align: center;
  border: 1px solid #d3d3d3;
}

/* tr:first-child th {
  padding: 10px;
  cursor: move;
  z-index: 10;
} */

.BOXS {
  border: 1px dashed #ccc;
  border-radius: 1px;
  position: absolute;
  background-color: lightyellow;
  text-align: center;
  margin: 0px !important;
}

@font-face {
  font-family: BZarBd;
  src: url("/App_Base/Css/Fonts/B\ Zar\ Bold.woff") format("woff");
}

.textProp {
  width: 100% !important;
  height: 20px !important;
  font: 11px var(--mainFont) !important;
  margin: 0% !important;
  direction: ltr;
}

/* input[type="range"] {
  -webkit-appearance: none;
} */

input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
  margin-top: -4px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type="range"] {
  /* fix for FF unable to apply focus style bug  */
  /*required for proper track sizing in FF*/
  width: 300px;
  direction: rtl;
}

input[type="range"]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}

/*hide the outline behind the border*/
input[type="range"]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type="range"]:focus::-moz-range-track {
  background: #ccc;
}

/* for ie */

input[type="range"]::-ms-track {
  width: 300px;
  height: 5px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

input[type="range"]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}

input[type="range"]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #888;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #ccc;
}

.PropBorder {
  background-color: #fffbf9;
  padding: 0px 10px 5px 0px;
}

.propTitleIcon {
  margin-right: -8px;
}

.propTitlePlus {
  font: 11px var(--mainFont);
  font-weight: bold;
  margin-right: 5px;
}

.swal-button {
  font: 14px var(--mainFont);
}

.checkbox {
  margin-top: 40px !important;
}

.form-group-body {
  padding: 0px 5px 0px 5px;
  min-height: 115px;
}

.NewRow {
  height: 100px;
  border: 3px dashed #e0e0e0;
  /* border-radius: 3px; */
  box-shadow: -5px 10px 5px rgb(218, 218, 206);
  text-align: center;
  font: italic 20px var(--mainFont);
  padding: 31px;
  background-color: #f9f9f9;
  margin: 10px;
  color: #c0c0c0;
}

.PasteElement {
  border-right: 1px dashed #d4c3eebd;
  height: 38px;
  text-align: center;
  font: italic 14px var(--mainFont);
  color: rgb(167, 167, 140);
  padding: 5px;
  box-shadow: -5px 10px 5px rgb(218, 218, 206);
  background: linear-gradient(90deg, #d4c3eebd 50%, transparent 50%),
    linear-gradient(90deg, #d4c3eebd 50%, transparent 50%),
    linear-gradient(0deg, #d4c3eebd 50%, transparent 50%),
    linear-gradient(0deg, #d4c3eebd 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 10px 1px, 10px 1px, 1px 10px;
  animation: border-dance 25s infinite linear;
  background-color: #f7f7f7;
}

@keyframes border-dance {
  0% {
    background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
  }

  100% {
    background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
  }
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10000;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  display: flow-root;
  direction: rtl;
}

#content {
  box-shadow: 0px 0px 2px 1px #d1d1d1;
}

#contentM {
  padding: 0px;
  margin: auto;
  display: flex;
}

.main-header {
  background-color: #3a5ba0 !important;
}

#open_btn_Div {
  padding: 10px;
  background-color: #cccccc14;
  direction: rtl;
  display: flex;
  justify-content: start;
}

.swal-text {
  text-align: right;
}
.swal-title{
 direction: rtl;
}

.btn-browse-file {
  display: flex;
}

.row {
  padding: 15px !important;
}

#out {
  position: absolute;
  top: 0px;
  left: 0;
}

#out a {
  cursor: pointer;
  padding: 17px 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100px;
}

#geTitleChecked:checked {
  color: var(--A3);
}

.input-group-addon {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: 40px;
  justify-content: center;
}

.form-control:focus {
  border-color: #ccc !important;
}
.content-header {
  height: 45px !important;
  direction: rtl;
  right: 230px;
  padding-top: 0px !important;
}

.btn-browse-file {
  background-color: #ffffff !important;
  height: 38px;
  color: var(--A1) !important;
}

li a {
  display: block !important;
  color: lightgray !important;
  font-size: 13px !important;
  text-align: center !important;
  text-decoration: none !important;
}

li a:hover {
  color: #ffffff !important;
}
.active {
  background-color: gray !important;
  color: white !important;
}
/* toDo */
#out a:hover {
  background-color: #ffd800 !important;
  color: #3a5ba0 !important;
}

#mainPopup {
  margin: 5px 0px 10px 0px;
}
.divPopup {
  display: flex;
  margin: 10px;
}
.txtPopup {
  font: 12px var(--mainFont);
  color: #000;
  border-radius: 2px;
  border: 1px solid #ccc;
  text-align: center;
  height: 32px !important;
  width: 345px;
}
.lblPopup {
  width: 60px;
  margin-left: 20px;
}

#Title {
  direction: rtl;
  font: 16px var(--mainFont);
  font-weight: bold;
}
#btnPopup {
  width: 70px;
  font: 16px var(--mainFont);

  direction: rtl;
}

/* ********************************* */

.content-header {
  padding-top: 0px !important;
}
.divContainer {
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

div.mxWindow {
  top: 200px !important;
}

.main-content {
  padding: 0px 0px 0px 0px;
  bottom: 0px;
}

.pull-left {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

center#splash {
  padding-top: 230px;
}

div#splash {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1;
}
/* 
#geFooter {
  right: 110px;
  left: 0px;
} */

#graphContainer {
  position: absolute;
  overflow: auto;
  top: 100px;
  right: 230px;
  bottom: 50px;
  left: 0px;
  background-color: #fff;
  margin: 20px;
  box-shadow: 0px 0px 2px 1px #d1d1d1;
}

#outlineContainer {
  position: absolute;
  overflow: hidden;
  top: 36px;
  right: 0px;
  width: 200px;
  height: 140px;
  background: transparent;
  border-style: solid;
  border-color: black;
  display: none;
}

#statusContainer {
  text-align: right;
  position: absolute;
  overflow: hidden;
  bottom: 0px;
  left: 0px;
  max-height: 24px;
  height: 36px;
  right: 0px;
  color: white;
  padding: 6px;
  background-image: url("../../images/toolbar_bg.gif");
  display: none;
}

#statusContainer div {
  font-size: 10pt;
  float: left;
}

#toolbarContainer {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  top: 0px;
  left: 0px;
  max-height: 24px;
  height: 36px;
  right: 0px;
  padding: 6px;
  background-image: url("../../images/toolbar_bg.gif");
  display: none;
}

p {
  font: 12px var(--mainFont);
}
#sidebarContainer {
  border-left: 1px solid var(--Gray);
}
g {
  font: 12px var(--mainFont);
  font-weight: bold;
  fill: #4a4a4abd;
}
.div_Item{
  direction: rtl;
  margin-left: 140px;
}.div_Item label {
  font: 12px var(--mainFont);
}

td.mxPopupMenuItem{
  width: 100px;
  font:12px var(--mainFont) !important;
}

.div_Item label {
  font: 12px var(--mainFont);
  position: absolute;
}