/* Code File(Amnpardaz Software Co. Copyright 2023 - All Right Reserved)*/
/* Release Ferdos.WebAppDesk 3.5.0.0*/

.login-box {
    background-color: #f0f3f3; /*@LightColor-L3*/
    border: solid 0px #00838f; /*@MainColor-A1*/
    border-radius:10px;
}

.login-box-body {
    background-color: #f0f3f3; /*@LightColor-L3*/
    border-radius: 10px;
}

.login-box-label {
    color: #73879c; /*@MainColor-B3*/
    font-size: 15px;
    font-family: 'IRANSansWeb';
}

#username {
    border-radius: 10px;
}

#password {
    border-radius: 10px;
}

.login-box-link {
    font-size: 13px;
    font-family: 'IRANSansWeb';
}

.login-box-msg {
    font-size: 13px;
    font-family: 'IRANSansWeb';
}

.login-box-title {
    color: #73879c !important; /*@MainColor-B3*/
    font-size: 25px;
    font-family: 'IRANSansWeb';
}

.btn-login {
    background-color: #00838f; /*@MainColor-A1*/
    color: #f0f3f3; /*@LightColor-L3*/
    font-family: 'IRANSansWeb';
    width: 100px;
    border-radius: 10px!important;
}

.btn-login-long {
    background-color: #00838f; /*@MainColor-A1*/
    font-family: 'IRANSansWeb';
    color: #f0f3f3; /*@LightColor-L3*/
}
